body {
    line-height: 1.5em;
    font-size: 16px;
}

pre {
    font-family: "ubuntu mono", monospace;
    font-size: 14px;
    line-height: 1.4;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding-left: 5px;
    padding-right: 5px;
}

.post ul li {
    margin-bottom: 0;
}
